
#barra_menu{
    background-color: gray;
}
#barra_menu li{
    display: inline;
}
#barra_menu li a{
    color: #000;
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    border: 2px solid #696969;
}
#barra_menu li a:hover{
    background-color: #696969;
}

#form_cadastro{
text-align: center;
}

#input_formulario:hover{
background-color: #d4d4d4;
}

#label_cadastro{
/* font-size Serve para mudar a fonte do texto, aumentando ou diminuindo font-weight Serve para mudar o estilo da fonte, podendo ser Bold(Negrito 700) | 0~1000(Intencidade do negrito) | */
font-size: 20px;
font-weight: bold;
}
#div_form{
display: flex;
}
#body_display{
background-color: #bdb7b5;
}

#div_formulario_cadastro_generico{
width: 50%;
text-align: center;
}

.submit_cadastro{
font-size: 20px;
width: 150px;
height: 30px;
}

.input_generico_cadastro{
width: 550px;
height: 35px;
margin-top: 5px;
margin-bottom: 5px;
}

#div_body_login{
    background-color: #bdb7b5;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */

}
#corpo_login{
    background-color: aquamarine;
    width: 500px;
    height: 600px;
    border-color: #000;
    border-style: solid;
    border-radius: 1px;
}
#id_form_login{
    text-align: center;
}
#h1_tela_login{
    text-align: center;
}

.class_label_login{
    text-align: center;
    font-size: 24px;
}

.class_input_login{
    width: 450px;
    height: 30px;
}

.class_div_login{
    padding: 20px;
}
.class_barra_recursos_login{
    padding-right: 10px;
    text-align: right;
    padding: 10px;
}

#id_esqueci_minha_senha{
    text-decoration: dashed;
}
